@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Indie+Flower&display=swap');



$logo-font: 'Audiowide', cursive;
$body-font: 'Quicksand', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  font-family: $logo-font;
  color: rgb(248, 190, 72);
  font-size: 3em;
  text-shadow: 0px 0px 3px black;
  margin-bottom: 15px;
}
body {
  font-family: $body-font;
}
